* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-height: auto;
    margin: 0 auto;
}
header {
    border: solid #8B687F 2px;
    border-radius: 5px;
    width: 50%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #3DA5D9;
    text-align: center;
}
body {
    background-color: rgb(19, 40, 76);
    background-image: url("images/cherry.avif");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #FFFAFB;
}
table {
    border-style: outset;
    background-color: rgb(19, 40, 76);
    color: #FFFAFB;
    text-align: center;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    opacity: 1;
}
button{
    margin-left: 45%;
    padding: 10px;
    border: 2px outset #E54B4B;
    border-radius: 5px;
    background-color: #E54B4B;
    color: #FFFAFB;
    width: 150px;
}
th{
    border-style: outset;
    border-color: #3DA5D9;
}
td {
    border-color: #3DA5D9;
}
form {
    border-style: outset;
    color: #FFFAFB;
}
fieldset{
    margin: 10px;
    border-radius: 10px;
}
fieldset:hover {
    background-color: #E54B4B;
}
#prevBtn {
    margin-left: 30%;
}
#nextBtn {
    margin-left: 20%;
}